*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.accordeon {
  width: 48%;
  border-radius: 10px;
}
.accordeon .accordeon-visible {
  background: #ff6060;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 13px;
  border-radius: 10px;
}
.accordeon .accordeon-visible h2 {
  font-size: 18px;
}
.accordeon .accordeon-visible img {
  width: 20px;
}
.rotation {
  transform: rotate(180deg);
}

.accordeon .accordeon-toggle {
  font-size: 18px;
  background: #f6f6f6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: opacity 0.4s ease-in-out, height 0.4s 0.4s ease-in-out;
}

.animated {
  opacity: 1;
  transition: height 0.4s ease-in-out, opacity 0.4s 0.4s ease-in-out;
}
.hidden {
  display: block;
}

.accordeon .accordeon-toggle .toggle-content {
  margin: 0;
  padding: 40px 12px 40px 20px;
  color: #ff6060;
  pointer-events: none;
}
.accordeon .accordeon-toggle .toggle-content p {
  pointer-events: none;
  font-weight: 400;
  line-height: 142.6%;
}

.hidden {
  display: none;
}
.visible {
  display: block;
}

@media all and (max-width: 768px) {
  .accordeon-container {
    flex-direction: column;
    gap: 20px;
  }

  .accordeon-container .accordeon {
    width: 100%;
  }
  .accordeon .accordeon-toggle {
    font-size: 12px;
  }
  .accordeon .accordeon-toggle .toggle-content {
    padding: 17px 12px;
  }

  .accordeon .accordeon-visible h2 {
    font-size: 13px;
  }
}
