*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.notation .note-etoiles {
  margin-top: 10px;
}

@media all and (max-width: 768px) {
  .notation .note-etoiles img {
    width: 15px;
    height: 15px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .notation .note-etoiles {
    display: flex;
    justify-content: flex-end;
  }
}

@media (orientation: landscape) {
  .notation .note-etoiles {
    display: flex;
    justify-content: flex-end;
  }
}
