*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logement-container .hote {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.logement-container .hote .bloc-title {
  color: #ff6060;
}
.logement-container .hote .home-host {
  width: 15%;
}
.logement-container .hote .bloc-host {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logement-container .hote .bloc-host p {
  color: #ff6060;
  width: 50%;
}
.logement-container .bloc-host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: contain;
}

.logement-container .accordeon-container {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 14px;
}

@media all and (max-width: 768px) {
  .logement-container .hote {
    flex-direction: column;
  }
  .logement-container .hote .home-host {
    width: 100%;
  }
  .logement-container .hote .bloc-title h1 {
    font-size: 18px;
  }
  .logement-container .hote .bloc-title p {
    font-size: 14px;
  }

  .logement-container .hote .bloc-host {
    gap: 10px;
    flex: 0;
  }
  .logement-container .hote .bloc-host p {
    font-size: 12px;
  }
  .logement-container .bloc-host img {
    width: 32px;
    height: 32px;
  }
  .logement-container .hote .home-host {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
