*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-propos .bgImg {
  border-radius: 25px;
  /* height: 189px; */
  height: 223px;
  width: 100%;
}
.container-propos .accordeon {
  width: 90%;
  margin: 3rem auto;
}

@media all and (max-width: 768px) {
  .container-propos .bgImg {
    object-fit: cover;
  }
  .container-propos .accordeon {
    width: 100%;
    margin: 1rem auto;
  }
}
