*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-location a {
  text-decoration: none;
}
.container-location .content-location {
  display: flex;
  flex-wrap: wrap;
  background: #f7f7f7;
  border-radius: 25px;
  width: 100%;
  padding: 30px 20px;
}
.container-location .carte-location {
  width: 31.33%;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  position: relative;
}
.container-location .carte-location img.location {
  width: 100%;
  height: 340px;
  border-radius: 25px;
  object-fit: cover;
}

.container-location .carte-location p {
  position: absolute;
  left: 20px;
  bottom: 40px;
  font-size: 18px;
  color: #ffffff;
  margin-right: 12px;
}

@media all and (max-width: 768px) {
  .container-location .content-location {
    background: inherit;
    padding: inherit;
  }
  .container-location .carte-location {
    width: 100%;
    margin: inherit;
    padding: 10px 0;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .container-location .carte-location {
    width: 100%;
  }
  .container-location .carte-location .location {
    width: 100%;
  }
}

@media all and (min-width: 1024px) and (max-width: 1150px) {
  .container-location .carte-location {
    width: 47%;
  }
}
